.container-modal {
    display: flex;
    width: 100%;
    max-width: 98%;
    height: 500px;
    max-height: 610px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modal-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-img img {
    max-height: 100%;
    max-width: 100%;
    margin-right: 30px;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 30px;
}

.category {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category h2{
    color: gray;
    
}

.category i {
    font-size: 16px;
    color: blue;
    margin-right: 10px;
}

.description {
    flex-grow: 1;
    margin-bottom: 10px;
}

.price-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-btn span {
    font-size: 24px;
    font-weight: bold;
}

.price-btn button {
    width: 100px;
    height: 40px;
    padding: 20px;
    display: flex;
    color: blue;
    border-radius: 10%;
    border: 1px solid blue;
    text-align: center;
    align-items: center;
    background-color: transparent;
}

.price-btn i {
    font-size: 20px;
    margin-left: 10px;
}

.price-btn button:hover {
    background-color: blue;
    color: white;
}
