.header {
    width: 100%;
    height: auto;
    background-color: bisque;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 2rem;
}

.header img {
    width: 41%;
}

.section-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header div {
    padding: 3rem;
    width: 700px;
    height: 400px;
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    border-radius: 2rem;
}

.section-header h1 {
    font-size: 50px;
    font-family: "Roboto", Arial, sans-serif;
    margin-bottom: 0;
}

.section-header h2 {
    font-family: "Roboto", Arial, sans-serif;
}

.section-header button {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 15px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.section-header button:hover {
    background-color: #ebd699;
}

.section-products {
    margin: 10px 50px 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#footer {
    height: auto;
    background-color: #ebd699;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    color: black;
}

.button-cart {
    position: relative;
    display: inline-block;
}

.button-cart .badge {
    position: absolute;
    bottom: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
    .header {
    flex-direction: column;
    align-items: center;
    }

    .header img {
    width: 80%;
    }

    .section-header div {
    width: 90%;
    height: auto;
    max-height: 600px;
    padding: 2rem;
    }

    .section-header h1 {
    font-size: 40px;
    }

    .section-header h2 {
    font-size: 16px;
    }

    .section-header button {
    font-size: 16px;
    padding: 8px 15px;
    }

    .section-products {
    margin: 10px 20px;
    }

    .container__footer {
    flex-direction: column;
    align-items: center;
    }

    .box__footer {
    margin-bottom: 30px;
    padding: 20px;
    }

    .box__footer h2 {
    font-size: 24px;
    margin-bottom: 20px;
    }

    .box__footer .terms {
    max-width: 80%;
    }
}
