.sidebar {
    background-color: white;
    width: 60vh;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem 0 2rem 2rem;
    border-radius: 30px 0 0 30px;
    border: black solid;
    border-width: 1px;
    z-index: 1;
}

.sidebar.open {
    right: 0;
}

.toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: transparent;
    font-size: 24px;
}
.toggle-button:hover{
    color: gray;
}

.sidebar-content {
    overflow-y: auto;
    max-height: 70%;
    margin: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: black 1px solid;
}


.cart-item-details {
    margin-left: 10px;
    margin-bottom: 10px;
}

.sidebar-content::-webkit-scrollbar {
    width: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls div{
    margin-right: 10px;
}

.quantity-controls button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
}

.quantity-controls span {
    margin: 0 10px;
}

.button-delete {
    margin-right: 1rem;
    margin-left: auto;
    background-color: transparent;
    border: 0;
    color: red;
    font-size: 20px;
}

.button-delete:hover {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
}

.total-container{
    display: flex;
    padding: 10px;
    border: black solid 1px;
    border-radius: 10px;
    margin-right: 10px;
    position: absolute;
    justify-content: space-between;
    bottom: 10%;
    width: 85%;
}

.total-container h3{
    margin-left: 0;
    align-self: flex-start;
}

.total-container button{
    color: blue;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 10px;
    padding-right: 0;
    align-self: flex-end;
}

.total-container button:hover{
    background-color: blue;
    color: white;
}